<!DOCTYPE html>
<html>

<head>
<%- include('layouts/head'); -%>
<%- include('layouts/portfolio/portfolio-style'); -%>  
</head>

<body class="container-fluid" data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0">
      
      <%- include('layouts/header'); -%> 

      <section id="portfolio">
            <div class="row porfolio-row">
                  <div class=" container portfolio-col">
                        <h1 class="portfolio-content" id="port">Portfolio</h1>
                  </div>
            </div>

            <div class="row 02pilot-row">
                  <div class="container 02pilot-col">
                        <div data-aos="fade-right" data-aos-duration="1000" class="portfolio-move aos-init aos-animate"
                              id="portfolio-one">
                              <a id="02pilot-link" href="https://www.02pilot.com" target="_blank">
                                    <img src="../images/02pilot.png" alt="first portfolio picture" height="200"
                                          width="400" class="round" id="portfolio-one image">
                              </a>
                        </div>
                  </div>
            </div>



            <div class="row new-row">
                  <div class="container new-col">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400" id="portfolio-two"
                              class="portfolio-move aos-init aos-animate">
                              <a id="new-link" href="https://www.newview.app" target="_blank">
                                    <img src="../images/portfolio-wordpress.png" class="img-fluid round"
                                          alt="second portfolio picture" height="200" width="400"
                                          id="portfolio-two-image">
                              </a>
                        </div>
                  </div>
            </div>



            <div class="row tea-row">
                  <div class="container tea-col">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" id="portfolio-four"
                              class="portfolio-move aos-init aos-animate">
                              <a id="tea-link" href="/tea" target="_blank">
                                    <img src="../images/tea.jpg" class="img-fluid round" alt="fourth portfolio picture"
                                          height="200" width="400" id="portfolio-four-image">
                              </a>
                        </div>
                  </div>
            </div>



            <div class="row broadway-row">
                  <div class="container broadway-col">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="650" id="portfolio-seven"
                              class="portfolio-move aos-init aos-animate">
                              <a id="broadway-link" href="/broadway" target="_blank">
                                    <img src="../images/broadway.jpg" class="img-fluid round"
                                          alt="seventh portfolio picture" height="200" width="400"
                                          id="portfolio-seven-image">
                              </a>
                        </div>
                  </div>
            </div>



            <div class="row coffee-row">
                  <div class="container coffee-col">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700" id="portfolio-eight"
                              class="portfolio-move aos-init aos-animate">
                              <a id="coffee-link" href="/coffee" target="_blank">
                                    <img src="../images/coffee.jpg" class="img-fluid round"
                                          alt="eigth portfolio picture" height="200" width="400"
                                          id="portfolio-eight-image">
                              </a>
                        </div>
                  </div>
            </div>



            <div class="row davie-row">
                  <div class="container davie-col">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="750" id="portfolio-nine"
                              class="portfolio-move aos-init aos-animate">
                              <a id="davie-link" href="/davie" target="_blank">
                                    <img src="../images/davie-burger.jpg" class="img-fluid round"
                                          alt="nineth portfolio picture" height="200" width="400"
                                          id="portfolio-nine-image">
                              </a>
                        </div>
                  </div>
            </div>



            <div class="row travel-row">
                  <div class="container travel-col">
                        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="800" id="portfolio-ten"
                              class="portfolio-move aos-init aos-animate">
                              <a id="travel-link" href="/travel" target="_blank">
                                    <img src="../images/travels.jpg" class="img-fluid round"
                                          alt="tenth portfolio picture" height="200" width="400"
                                          id="portfolio-ten-image">
                              </a>
                        </div>
                  </div>
            </div>
      </section>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>  


</body>

</html>